.dot-1, .dot-2, .dot-3 {
    display: inline-block;
    animation: blink 1.4s infinite;
    font-weight: bold;
    margin-left: 2px;
}

.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
