/* PaymentForm.module.css */

.body {
  background-color: #eee;
}

.container {
  height: 100vh;
}

.card {
  border: none;
}

.formControl {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.formControl:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3f51b5;
}

.inputbox input:focus ~ span,
.inputbox input:valid ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.cardBlue {
  background-color: #492bc4;
}

.hightlight {
  background-color: #5737d9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.yellow {
  color: #fdcc49;
}

.decoration {
  text-decoration: none;
  font-size: 14px;
}

.btnSuccess {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}

.btnSuccess:hover {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}

.decoration:hover {
  text-decoration: none;
  color: #fdcc49;
}
